<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <properties resource="mysql_database.properties"></properties>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <environments default="mysql_database">
        <environment id="mysql_database">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driverClassName}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="vo/Account_mapping.xml"/>
    </mappers>
</configuration>